* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9q3g3DnMJbKgLPg9n2nYo6VMNnYprSJYM1w&s);
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

.main2 {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

#one {
    width: 30%;
    height: 70vh;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOINlP4RpzZRtW7E4XNMxaqznTbdoKQk0r9g&s);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#tow {
    width: 30%;
    height: 70vh;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOINlP4RpzZRtW7E4XNMxaqznTbdoKQk0r9g&s);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

h1 {
    margin-left: 85px;
}

img {
    height: 50%;
    width: 100%;
}

#aa {
    margin-left:95px;
}

#bb {
    margin-left: 70px;
}

#cc {
    margin-left: 95px;
}
#dd{
    margin-left: 105px;
}
#ee{
    margin-left: 50px;
}
P {
    font-style: inherit;
    font-size: large;
}

button {
    background-color: rgb(15, 92, 92);
    color: white;
    font-size: 25PX;
    border-radius: 9px;
    border-spacing: 50px;
    padding: 6px 9px;
    letter-spacing: 1px;
    margin-left: 47%;
    margin-top: 5%;

    margin-bottom: 10px;

}

button:hover {
    color: black;
    background-color: rgb(255, 255, 255);
}